<h4>Formularios <small>template</small></h4>
<hr>
<form [formGroup]="ownedForm" (ngSubmit)="save()" novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
          <input class="form-control"
                [ngClass]="{'is-invalid': !firstName.valid}"
                type="text"
                placeholder="Nombre"
                formControlName="firstName"
                (keypress)="validatedUsername($event)"
                maxlength="15"
                [(ngModel)]="userModel.firstName">
          <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
              <div  *ngIf="firstName.errors?.required" >El Nombre es requerido</div>
              <div  *ngIf="firstName.errors?.minlength" >Por lo menos 4 caracteres</div>
              <div  *ngIf="firstName.errors?.pattern" >El patron no coincide</div>
              <div  *ngIf="firstName.hasError('notNameHenry')" >No puede ser henry en el nombre</div>
          </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
          <input class="form-control"
                [ngClass]="{'is-invalid': !lastName.valid}"
                type="text"
                placeholder="Apellido"
                formControlName="lastName"
                maxlength="50"
                (keypress)="validatedFullName($event)"
                [(ngModel)]="userModel.lastName">
          <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
            <div *ngIf="lastName.errors?.required">El Apellido es requerido</div>
            <div *ngIf="lastName.errors?.pattern">El patron no coincide</div>
          </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
        <input class="form-control"
              type="email"
              placeholder="Correo electrónico"
              formControlName="email"
              [(ngModel)]="userModel.email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">
        <input class="form-control"
                type="password"
                placeholder="Password"
                formControlName="password"
                (input)="checkConfirmPassword()"
                [(ngModel)]="userModel.password">
    </div>
</div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repeat Password</label>
    <div class="col-md-8">
        <input class="form-control"
                type="password"
                placeholder="Password"
                formControlName="repeatPassword"
                [(ngModel)]="userModel.repeatPassword">
        <div *ngIf="repeatPassword.touched">
            <div  *ngIf="repeatPassword.errors?.required" >El Nombre es requerido</div>
            <div  *ngIf="repeatPassword.hasError('match')" >Deben coincidir as password</div>
        </div>
    </div>
</div>

<!-- SELECT DE EXERIMENTO -->
<div class="form-group row">
  <label class="col-2 col-form-label">Country</label>
  <div class="col-md-8">
      <select [(ngModel)]="userModel.country.idCountry" 
              formControlName="country" 
              (change)="loadStates2($event.target.value)">
          <!-- <option value=null  selected>Country</option> -->
          <option [value]="c.idCountry" *ngFor="let c of countrys">{{ c.nameCountry }} </option>
      </select>
  </div>
</div>
<!-- SELECT 2 A PARTIR DE EL OTRO -->
<div class="form-group row">
  <label class="col-2 col-form-label">States</label>
  <div class="col-md-8">
    <select [(ngModel)]="userModel.state.idState" 
            formControlName="state">
      <!-- <option value=null disabled selected hidden>State</option> -->
      <option [value]="e.idState" *ngFor="let e of estadosCargados">{{e.nameState}}</option>
    </select>
  </div>
</div>
<!-- FIN DE LOS SELECT -->
<!-- INPUT DE SUBIDA -->
  <div class="form-group row">
    <label class="col-2 col-form-label">Photo</label>
    <div class="col-md-8">
      <input class="form-control"
                type="file"
                formControlName="photo"
                (change)="onUploadChange($event)">
    </div>
  </div>

  <img *ngFor="let item of base64textString"  src={{item}} alt="" id="img">
  <!-- FIN DEL INPUT DE SUBIDA -->


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" 
              class="btn btn-outline-primary"
              [disabled]="ownedForm.invalid">
        Guardar
      </button>
    </div>
  </div>

  {{ownedForm.valid}}<br>
  {{ownedForm.status}}<br>
  {{ userModel | json }}}}
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" 
              class="btn btn-outline-primary"
              (click)="open(content)">
              Launch demo modal
      </button>
    </div>
  </div>
</form>



<ng-template #content >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
   <p>Hola Como estas {{name}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalClose()">Save</button>
  </div>
</ng-template>
